$primary-color-2: rgb(37 35 62);
$primary-color-3: rgb(234 234 235); //location icon, 
$primary-color-4: rgb(174 162 217); // day status


$main-color-1: rgb(255 255 255);
$main-color-2: rgba(42, 40, 71, .8);;
$main-color-3: rgba(33, 35, 51, 0.8); //container with opacity
$main-color-4: rgba(37, 35, 62, .8);;


$scrollbar-color-1: rgb(18 17 41);
$scrollbar-color-2: rgb(54 49 121);
