.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    // background-color: rgba(33, 35, 51, 0.6);
    background-color: rgba(33, 35, 51, 0.8);

    border-radius: 24px;
    outline: none !important;
    border: none !important;
}

.css-1oz3td-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 1px !important;

}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding-left: 35px !important;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    border: none;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    color: rgb(202 202 205) !important;
    font-size: 14px !important;

}

.css-1oz3td-MuiAutocomplete-root {
    width: 100% !important;
}


// SLIDER
.css-15gm0yv-MuiSlider-root.Mui-disabled,
.css-15gm0yv-MuiSlider-root {
    padding: 3px 0;
    background: linear-gradient(90deg, rgba(67,255,97,1) 9%, rgba(215,250,13,1) 22%, rgba(252,173,0,1) 49%, rgba(252,42,1,1) 77%, rgba(192,1,254,1) 100%);
}


.css-7o8aqz-MuiSlider-rail,
.css-nl6333-MuiSlider-track {
  width: 0% !important;
}

.css-l29f8w-MuiSlider-thumb {
    color: white;
    border: 1px solid black
}