.modal {
    height: 250px;
    width: 340px;
    // padding: 20px;
    border-radius: $default-border-radius;
    background-color: $main-color-1;
    font-family: $main-fontFamily;

    .img-section {
   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .map-img {
            width: 130px;
            height: 150px;
        }
    }

    .location-check-section {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;

        .location-check {
            font-weight: 400;
            font-size: $primary-text-size;

        }

        .location {
            margin-left: 10px;
            color: rgb(119 177 226);
        }
    }

    .btns-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        margin: 0 auto;

        .btn-location-check {
            border: none;
            outline: none;
            background: transparent;
            color: rgb(119 177 226);
            font-size: $primary-big-text-size;

        }
    }
 
}

.css-79ws1d-MuiModal-root {
    display: flex;
    align-items: center;
    justify-content: center;

}