@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.weather-temperature-section {
    width: 45px;
    padding: 10px 20px;
    height: 80px;
    background-color: rgba(52, 51, 61, .8);
    border-radius: $default-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    .weather-temperature-time {
        margin: 0;

    }

    .weather-temperature {
        font-size: 15px;
        font-family: "Work Sans", sans-serif;
        font-weight: 100;
        color: rgb(174 162 217);

        font-weight: 400;
        font-size: 10px;
        margin: 0;
    }


}