.loading-page {
    background-color: rgb(31 29 71);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url("https://media.istockphoto.com/id/481167004/photo/night-into-day.jpg?s=612x612&w=0&k=20&c=HxaNvtGwVVk7KXPN3WuQXgVfA6jnbVmj5yU7oYGA4gE=");
    background-size: cover;
}