.location-selector-container {
    width: 100%;
    position: relative;

    
    .location-icon {
        color: $primary-color-3;
        position: absolute;
        top: 8px;
        left: 10px;
    }
    

}


