body {
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    // background-image: url("https://c4.wallpaperflare.com/wallpaper/11/322/353/gradient-pink-purple-sky-wallpaper-preview.jpg")
;
// background-image: url("https://t3.ftcdn.net/jpg/06/66/23/66/360_F_666236653_IRgApLeaDCXsIwepS38dY2CjF6KrkU8K.jpg");
background-image: url("https://wallpapers.com/images/hd/ultra-wide-4k-dark-purple-starry-sky-qtjljntv9p2koi08.jpg");
    background-size: cover;
    // background: linear-gradient(90deg, rgba(222,187,246,1) 3%, rgba(199,148,224,1) 19%, rgba(153,117,199,0.9976584383753502) 38%, rgba(126,84,194,1) 45%, rgba(113,81,175,0.9696472338935574) 49%, rgba(118,85,180,1) 55%, rgba(159,123,223,1) 68%, rgba(191,143,224,1) 77%, rgba(199,148,224,1) 85%, rgba(133,100,215,1) 100%);
// background: linear-gradient(90deg, rgba(200,170,221,1) 3%, rgba(199,148,224,1) 10%, rgba(153,117,199,0.9976584383753502) 24%, rgba(126,84,194,1) 45%, rgba(113,81,175,0.9696472338935574) 49%, rgba(118,85,180,1) 64%, rgba(159,123,223,1) 78%, rgba(191,143,224,1) 83%, rgba(199,148,224,1) 92%, rgba(133,100,215,1) 100%);
}


.background {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}


